SPayUIdemo/SPayUI.xcodeproj/xcuserdata/
SPayUIdemo/SPayUI.xcodeproj/project.xcworkspace/xcuserdata/
ios-pay-demo/BeeCloudDemo.xcodeproj/xcuserdata/
ios-pay-demo/BeeCloudDemo.xcodeproj/project.xcworkspace/xcuserdata/